/* src/app/globals.css 또는 src/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ✅ 조선일보명조체 */
@font-face {
  font-family: 'Chosunilbo_myungjo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2107@1.1/Chosunilbo_myungjo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* ✅ 리디바탕체 */
@font-face {
  font-family: 'RIDIBatang';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* ✅ 샤우팅체 */
@font-face {
    font-family: 'Shouting';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2510-1@1.0/Callifont-Medium.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}


/* ✅ 글로벌 적용도 가능 */
html, body {
  @apply font-ridi text-black;
}

/* ✅ 커스텀 폰트 클래스 등록 */
.font-shouting {
  font-family: 'Shouting', sans-serif;
}
